In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('raw/filter.csv', sep=' ')
df['name'] = list(map(lambda x: x.replace('_', '-'), df.RBP))
df

       RBP         SRA    Reads              Name    name
0     AGO1   SRR650318  1527733    AGO1_SRR650318    AGO1
1     AGO2   SRR189784  1462600    AGO2_SRR189784    AGO2
2     AGO3   SRR048976   336357    AGO3_SRR048976    AGO3
3     AGO4   SRR048979    68861    AGO4_SRR048979    AGO4
4   ALKBH5   SRR500479    56647  ALKBH5_SRR500479  ALKBH5
..     ...         ...      ...               ...     ...
62  TARDBP   DRR014100   763546  TARDBP_DRR014100  TARDBP
63    UPF1   SRR921447   163993    UPF1_SRR921447    UPF1
64    XPO5        XPO5   320454         XPO5_XPO5    XPO5
65  ZC3H7B   SRR500487  2541767  ZC3H7B_SRR500487  ZC3H7B
66   ZFP36  SRR1046759   204734  ZFP36_SRR1046759   ZFP36

[67 rows x 5 columns]